// 头部导航
#nav {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 50px;
  background-color: rgba(160, 82, 45, 0.7);
  transition: background-color 0.3s;
  border-radius: 0 0 5px 5px;
  a {
    text-transform: uppercase;
    font-weight: 800;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}
.nav__author {
  float: left;
  padding-left: 20px;
  a {
    font-size: 22px !important;
    text-transform: capitalize !important;
    color: hsla(0, 0, 100%, 0.8);
    font-weight: 800;
  }
}
.nav__right {
  display: none;
  float: right;
  margin-right: 15px;
  @mixin activeStyle {
    color: #fff;
  }
  li {
    float: left;
    margin-left: 20px;
    padding-top: 10px;
    line-height: 28px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out;
      background-color: hsla(0, 0%, 100%, 0.7);
    }
    &:hover {
      a {
        @include activeStyle;
      }
      &::after {
        transform: scaleX(1);
      }
    }
  }
  a {
    color: hsla(0, 0%, 100%, 0.7);
    &.router-link-exact-active {
      @include activeStyle;
    }
  }
}
.nav__toggleBtn {
  line-height: 1;
  padding: 8px 12px;
  margin-right: 15px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  color: hsla(0, 0, 100%, 0.8);
}
.nav__minibar {
  padding-bottom: 5px;
  li {
    /**
      由于字体的影响，导致第一个li里面的文字对齐方式奇异，必须设置float才可以
    */
    float: left;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;
  }
  a {
    font-size: 12px;
    color: hsla(0, 0, 100%, 0.8);
    &:hover {
      color: #fff;
    }
    &.router-link-exact-active {
      color: #fff;
    }
  }
}
// 全局banner
#banner {
  position: relative;
  z-index: 1;
  height: 240px;
  margin-bottom: 32px;
  background: no-repeat 50%;
  background-size: cover;
}
.banner__pageTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  h1 {
    margin: 60px 0 0;
    font-size: 50px;
    font-family: Lora, Times New Roman, serif;
  }
  hr {
    width: 100px;
    // 将hr设置成可控的线
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 4px;
    border-color: #fff;
    //
  }
  p {
    margin-top: 10px;
    font-size: 24px;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-seri;
    font-weight: 300;
  }
}

// 根容器设置样式
.rootContainer {
  padding: 0 15px;
  margin: 0 auto;
}

// loading的效果
#loading {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  .double-bounce1,
  .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
  }
  .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  @-webkit-keyframes sk-bounce {
    0%,
    100% {
      -webkit-transform: scale(0);
    }
    50% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bounce {
    0%,
    100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}

// 过渡效果
.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}
