@mixin rtPadding {
  padding: 0 calc(15px + 5%);
}
@media (min-width: 544px) {
  .container {
    width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    @include rtPadding;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
    @include rtPadding;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    @include rtPadding;
  }
}
