{
  "presets": [["es2015", { "modules": false }], "stage-3"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
