// tag
.tag {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tag__h2 {
  margin: 0;
  font-size: 32px;
}
.tag__post {
  margin: 6px 0;
}
.tag__post__link {
  font-size: 19px;
  color: gray;
  &:hover {
    text-decoration: underline;
  }
}
